<div id="search-input-container">
    <input type="text" id="search-input" placeholder="Search for a country...">
</div>
<button id="sort-button">Sort</button>

<div id="countries">
    {{#each this}}

        <a href="#countries/{{alpha2Code}}">
            <div class="country">
                <img src="{{flag}}">
                <p>{{name}}</p>
            </div>
        </a>

    {{/each}}
</div>