/*:root {*/
    /*--main-color: ;*/
    /*--secondary-color: ;*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#countries {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(10em, 5fr));
}

.country {
    width: 10em;
    padding: 1em;
    background-color: springgreen;
    text-align: center;
}

.country img {
    width: 100%;
}